nav{
    height: 100%;
    width: 100%;
    background: hwb(27 2% 4% / 0.99);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.cari{
    background-color: grey;
    color: black;
}

.masuk{
    background-color: #14f618;
    color: black;
}
.daftar{
    background-color: #14f618;
    color: black;
}
.gambar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.container{
    display: inline;
    display: flex;
    text-decoration-line: inline;
}
div{
    font-size: 25px;
}
